<?xml version="1.0"?>
<config>
    <modules>
        <Kariboo_Shipping>
            <version>1.0.0</version>
        </Kariboo_Shipping>
    </modules>
    <default>
        <shipping>
            <kariboo>
                <webservice_url>https://plugtest.kariboo.be:8443/karibooplug.asmx?wsdl</webservice_url>
                <log_level>7</log_level>
            </kariboo>
        </shipping>
        <carriers>
            <kariboo>
                <active>1</active>
                <model>kariboo_shipping/shipping_kariboo</model>
                <title>Kariboo!</title>
                <name>Delivery at Kariboo!-spot</name>
                <sort_order>0</sort_order>
                <default_selected>0</default_selected>
                <rate_type>0</rate_type>
                <flat_rate_price>0</flat_rate_price>
                <sallowspecific>1</sallowspecific>
                <specificcountry>BE</specificcountry>
                <google_maps_width>600</google_maps_width>
                <google_maps_height>430</google_maps_height>
                <google_maps_display>0</google_maps_display>
                <google_maps_enable_list>0</google_maps_enable_list>
            </kariboo>
        </carriers>
        <payment>
            <kariboocod>
                <active>0</active>
                <model>kariboo_shipping/payment_kariboocod</model>
                <title>Kariboo! COD</title>
                <order_status>processing</order_status>
                <sort_order>0</sort_order>
                <allowspecific>1</allowspecific>
                <specificcountry>BE</specificcountry>
            </kariboocod>
        </payment>
    </default>
    <global>
        <blocks>
            <kariboo_shipping>
                <class>Kariboo_Shipping_Block</class>
            </kariboo_shipping>
        </blocks>
        <models>
            <kariboo_shipping>
                <class>Kariboo_Shipping_Model</class>
                <resourceModel>kariboo_shipping_resource</resourceModel>
            </kariboo_shipping>
            <kariboo_shipping_resource>
                <class>Kariboo_Shipping_Model_Resource</class>
                <entities>
                    <returnlabel>
                        <table>kariboo_shipping_returnlabel</table>
                    </returnlabel>
                    <tablerate>
                        <table>kariboo_shipping_tablerate</table>
                    </tablerate>
                </entities>
            </kariboo_shipping_resource>
        </models>
        <helpers>
            <kariboo_shipping>
                <class>Kariboo_Shipping_Helper</class>
            </kariboo_shipping>
        </helpers>
        <resources>
            <kariboo_setup>
                <setup>
                    <module>Kariboo_Shipping</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </kariboo_setup>
        </resources>
        <template>
            <email>
                <kariboo_returnlabel_email_template translate="label" module="kariboo_shipping">
                    <label>Kariboo Returnlabel Email</label>
                    <file>sales/kariboo_returnlabel.html</file>
                    <type>html</type>
                </kariboo_returnlabel_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <kariboo_shipping>
                    <file>kariboo_shipping.xml</file>
                </kariboo_shipping>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <karibooshipping>
                        <class>kariboo_shipping/observer</class>
                        <method>core_block_abstract_to_html_after</method>
                    </karibooshipping>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <karibooshipping>
                        <type>singleton</type>
                        <class>kariboo_shipping/observer</class>
                        <method>checkout_controller_onepage_save_shipping_method</method>
                    </karibooshipping>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <karibooshipping>
                        <type>singleton</type>
                        <class>kariboo_shipping/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_saveAddress</method>
                    </karibooshipping>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <controller_action_postdispatch_checkout_onepage_saveShipping>
                <observers>
                    <karibooshipping>
                        <type>singleton</type>
                        <class>kariboo_shipping/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_saveAddress</method>
                    </karibooshipping>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShipping>
            <checkout_submit_all_after>
                <observers>
                    <karibooshipping>
                        <class>kariboo_shipping/observer</class>
                        <method>checkout_submit_all_after</method>
                    </karibooshipping>
                </observers>
            </checkout_submit_all_after>
        </events>
        <translate>
            <modules>
                <kariboo_shipping>
                    <files>
                        <default>Kariboo_Shipping.csv</default>
                    </files>
                </kariboo_shipping>
            </modules>
        </translate>
        <routers>
            <kariboo>
                <use>standard</use>
                <args>
                    <module>Kariboo_Shipping</module>
                    <frontName>kariboo</frontName>
                </args>
            </kariboo>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <karibooshipping>
                        <class>kariboo_shipping/observer</class>
                        <method>core_block_abstract_to_html_before</method>
                        <type>model</type>
                    </karibooshipping>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_shipment_save_before>
                <observers>
                    <karibooshipping>
                        <class>kariboo_shipping/observer</class>
                        <method>sales_order_shipment_save_before</method>
                        <type>model</type>
                    </karibooshipping>
                </observers>
            </sales_order_shipment_save_before>
        </events>
        <translate>
            <modules>
                <kariboo_shipping>
                    <files>
                        <default>Kariboo_Shipping.csv</default>
                    </files>
                </kariboo_shipping>
            </modules>
        </translate>
        <layout>
            <updates>
                <karibooshipping>
                    <file>kariboo_shipping.xml</file>
                </karibooshipping>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kariboo_shipping before="Mage_Adminhtml">Kariboo_Shipping_Adminhtml</kariboo_shipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <reload_tracking_status>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>kariboo_shipping/cron::reloadTrackingStatus</model>
                </run>
            </reload_tracking_status>
        </jobs>
    </crontab>
</config>