<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <kariboo>
                    <label>Kariboo! Shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <name translate="label">
                            <label>Carrier Name</label>
                            <comment>The name of the shipping method</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <comment>The order in which the shipping method should appear</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <default_selected>
                            <label>Default Selected</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Automatically selects this shipping method during checkout by default</comment>
                        </default_selected>
                        <free_shipping translate="label">
                            <label>Free shipping</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </free_shipping>
                        <free_shipping_from translate="label tooltip">
                            <label>.. from</label>
                            <tooltip>If the order total exceeds this amount, no shipping costs will be charged.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>48</sort_order>
                            <depends>
                                <free_shipping>1</free_shipping>
                            </depends>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>
                                <required-entry>1</required-entry>
                            </validate>
                        </free_shipping_from>
                        <rate_type translate="label">
                            <label>Rate type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kariboo_shipping/system_config_source_ratetypes</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>You can use flat rate or calculated table rates</comment>
                        </rate_type>
                        <flat_rate_price translate="label">
                            <label>Flat rate price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <depends>
                                <rate_type>0</rate_type>
                            </depends>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Fixed fee for Kariboo! shipments</comment>
                        </flat_rate_price>
                        <table_rate_condition translate="label">
                            <label>Table rates condition</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_tablerate</source_model>
                            <sort_order>70</sort_order>
                            <depends>
                                <rate_type>1</rate_type>
                            </depends>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </table_rate_condition>
                        <table_rate_file translate="label">
                            <label>Import table rates file</label>
                            <frontend_type>import</frontend_type>
                            <sort_order>80</sort_order>
                            <backend_model>kariboo_shipping/system_config_backend_shipping_tablerate</backend_model>
                            <depends>
                                <rate_type>1</rate_type>
                            </depends>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Upload your table rates configuration here. Refer to the manual for more information</comment>
                        </table_rate_file>
                        <export translate="label">
                            <label>Export table rates file</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>kariboo_shipping/adminhtml_system_config_form_export</frontend_model>
                            <sort_order>85</sort_order>
                            <depends>
                                <rate_type>1</rate_type>
                            </depends>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Export your table rates configuration here</comment>
                        </export>
                        <sallowspecific translate="label">
                            <label>Ship to countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Make Kariboo! available in all countries or in specific</comment>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Allowed countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>100</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment>Select one or more countries where Kariboo! should be available for</comment>
                        </specificcountry>
                        <google_maps_api translate="label">
                            <label>Google Maps API</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<a href="https://developers.google.com/maps/documentation/javascript/tutorial?hl=nl#api_key" target="_blank">How to request an API key</a>]]></comment>
                        </google_maps_api>
                        <google_maps_width translate="label">
                            <label>Map width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Width of the inline map (in px)</comment>
                        </google_maps_width>
                        <google_maps_height translate="label">
                            <label>Map height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Height of the inline map (in px)</comment>
                        </google_maps_height>
                        <google_maps_display translate="label">
                            <label>Map presentation</label>
                            <frontend_type>select</frontend_type>
                            <frontend_type>select</frontend_type>
                            <source_model>kariboo_shipping/system_config_source_display</source_model>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show the map inline or as an overlay</comment>
                        </google_maps_display>
                        <google_maps_enable_list translate="label">
                            <label>Map list</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show the list of Kariboo!-spots to the right of the map</comment>
                        </google_maps_enable_list>
                    </fields>
                </kariboo>
            </groups>
        </carriers>
        <shipping>
            <groups>
                <kariboo>
                    <label>Kariboo! Shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <webservice_url translate="label">
                            <label>Webservice Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Do NOT change unless instructed by Kariboo!</comment>
                        </webservice_url>
                        <authorization_code translate="label">
                            <label>Authorization Code</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Please contact Kariboo! for your authorization code</comment>
                        </authorization_code>
                        <weight_unit>
                            <label>Weight unit</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kariboo_shipping/system_config_source_weightunit</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select the unit of the weight attribute of products</comment>
                        </weight_unit>
                    </fields>
                </kariboo>
            </groups>
        </shipping>
        <payment>
            <groups>
                <kariboocod translate="label">
                    <label>Kariboo! COD</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The name of the payment method</comment>
                        </title>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The order in which the payment method should appear</comment>
                        </sort_order>
                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>20</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>25</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select one or more countries where Kariboo! COD should be available</comment>
                        </specificcountry>
                    </fields>
                </kariboocod>
            </groups>
        </payment>
    </sections>
</config>